<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/index.css">
    <title>PegionCloud</title>
</head>

<body>
    <div class="wrapper">
        <!-- NavBar -->
        <header>
            <nav>
                <div class="menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Main Area With Border -->
        <div class="border">
            <div class="mainTextWrapper">
                <div class="mainText">
                    <div class="pegion">PEGION</div>
                    <div class="subtext">
                        <div class="cloud">CLOUD</div>
                        <div class="service">SERVICE</div>
                    </div>
                    <div class="sometext">
                        Share Files seemlesly with PegionCloud,<br>A Fast & Reliable File Sharing Service. <br>Just Upload Your File and Copy the Link or Send it via Email.
                    </div>
                    <div class="uploadbtn">
                        <a href="/upload">Upload File</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background -->
        <!-- <div class="spot-container">
            <div class="spot s1"> <img src="../assets/images/lightdot.svg" alt=""> </div>
                <div class="spot s1a"> <img src="../assets/images/lightdot.svg" alt=""> </div>
                <div class="spot s2"> <img src="../assets/images/lightdot.svg" alt=""> </div>
        </div> -->
</div>

</body>

</html>