<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/uploads.css">
    <title>PegionCloud</title>
</head>

<body>
    <div class="wrapper">

        <!-- NavBar -->
        <header>
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a class="active" href="/upload">Upload</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Main Area With Border -->
        <div class="border">
            <div class="containder">
                <div class="mailbox">
                    <div class="mailheading">Send via Email</div>
                    <div class="mailform">
                        <form action=""></form>
                        <table>
                            <tr>
                                <td><label for="senderName">Your Name</label></td>
                                <td><input class="input" name="senderName" placeholder="Enter here..." type="text"></td>
                            </tr>
                            <tr>
                                <td><label for="senderMail">Your Email:</label></td>
                                <td><input class="input" name="senderMail" placeholder="sender@example.com" type="email"></td>
                            </tr>
                            <tr>
                                <td><label for="receiverMail">Receiver's Email:</label></td>
                                <td><input class="input" name="receiverMail" placeholder="receiver@example.com" type="email"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="btnwrapper">
                        <div class="mailbtn"><button class="sendbtn" type="submit">Send</button></div>
                    </div>
                </div>
                <div class="downloadArea">
                    <div class="linkQR"></div>
                    <div class="filelist"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>